---
layout: post
---
<section class="standalone">

    <div class="unit whole">
      <article>
        <h1>{{ page.title | Harry }}</h1>
        {{ content | Harry }}
		<center><script>
var idcomments_acct = '9fecba74e92ae11adef9f2924b35f363';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</center>
      </article>
    </div>

    <div class="clear"></div>

</section>
